[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "==0.12.13"
requests = "==2.12.4"
bottle-sqlite = "*"

[dev-packages]

[requires]
python_version = "3.9"
